/* index.component.scss */
.bala{
  background-image: url("../../assets/images/receptionimg.jpg");
  background-size: cover;

  
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 50px 0; /* Adjust the padding as needed */
    height: 100vh;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    text-align: center;
    position: absolute;
    top: 109px;
    left: 157px;
  }
  
  p {
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
  }
  
  a {
    display: inline-block;
    background-color: black;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  a:hover {
    background-color: black;

  }
  