<!-- index.component.html -->
<div class="bala">
    <header>
        <h1 style="color: black;">Hospital Management System</h1>
      </header>
      
      <main>
        <p>Welcome to our Hospital Management System. Streamlining healthcare operations for better patient care.</p>
        <p>Our system provides efficient management of patient records, appointments, and medical staff, ensuring a seamless healthcare experience.</p>
      
        <a routerLink="/login">Go to Login</a>
      </main>
      

</div>
